.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html{
  background-color: white;
}

#CARD:hover{
  box-shadow: 0px 4px 8px orange;
}

/* Apply the animation to the .nav-link class */
.nav-link {
  display: inline-block;
  position: relative;
  color: #000; /* Set the text color */
  text-decoration: none; /* Remove default underline */
}

/* Create a pseudo-element for the underline */
.nav-link::after {
  content: '';
  position: absolute;
  bottom: -1px; /* Position the underline below the text */
  left: 0;
  height: 3px; /* Height of the underline */
  width: 0; /* Initial width of the underline */
  background: currentColor; /* Use the text color for the underline */
  transition: width 2s linear; /* Slow transition for the filling effect */
}

.nav-link:hover::after {
  width: 100%; /* Full width on hover */
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


